body {
  background-color: #f9f7fe;
  font-family: "Parkinsans", sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: #f9f7fee0;
  width: 90%;
  margin: 20px 0 10px 0;
}

a {
  color: #885df1;
}

.weather-app {
  background-color: white;
  max-width: 700px;
  margin: 30px auto;
  border-radius: 13px;
  box-shadow: 0 30px 50px lightgray;
  padding: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 85%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background-color: #885df1;
  color: white;
  border: none;
  border-radius: 6px;
  width: 90px;
  margin-left: 8px;
  padding: 13px 10px;
  font-size: 16px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  margin: 0;
}

.weather-app-details {
  color: rgb(170, 166, 166);
}

.weather-app-temp-container {
  display: flex;
  margin-right: 50px;
}

.weather-icon {
  font-size: 60px;
  margin-right: 10px;
}

.weather-temp {
  font-size: 60px;
  font-weight: 600;
}

.weather-unit {
  font-size: 20px;
  margin-top: 13px;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.wind,
.humidity {
  line-height: 25px;
  font-weight: 700;
  color: #885df1;
}

footer {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: rgb(170, 166, 166);
}
